<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <style>
#grad1 {
  height: 1000px;
  font-size: 35px;
 background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #e9e83f 50%, #eb6c24 100%);

}
</style>
    <meta charset="UTF-8">
    <title> Product Details </title>
</head>
<body>
<div id="grad1">

<h1><center>Product List</center>  </h1>
    <center>

{% for instance in object_list %}
        <p> {{ instance.id }} - <a href='{{ instance.get_absolute_url }}'> {{ instance.title }} </a> </p>

{% endfor %}
        </center>
</div>

</body>
</html>


{% endblock %}